<%- include('partials/header') -%>
<form action="/stats" method="GET">
<div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Input RSN</span>
      <input type="text" placeholder="Username" class="input input-bordered w-full max-w-xs" />
    </label>
  </div>

</form>

<%- include('partials/footer') -%>